### Homework Rakamin Trial Class - Mini Case

# Mengukur Performa Penjualan Ritel Online

## Load Data

In [ ]:
import pandas as pd
from pandas.core.indexes.datetimes import DatetimeIndex

df = pd.read_csv("online_retail_II.csv")

## Section 1

### Create New Feature: Year

In [ ]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['Year']        = DatetimeIndex(df['InvoiceDate']).year

### Filtering Data

In [ ]:
sales = df[ (df['Quantity']>0) & (df['Invoice'].str.contains('C')==False) ]
sales.reset_index()

,index,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Year
0,0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12.0,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009.0
1,1,489434,79323P,PINK CHERRY LIGHTS,12.0,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009.0
2,2,489434,79323W,WHITE CHERRY LIGHTS,12.0,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009.0
3,4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24.0,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009.0
4,5,489434,22064,PINK DOUGHNUT TRINKET POT,24.0,2009-12-01 07:45:00,1.65,13085.0,United Kingdom,2009.0
...,...,...,...,...,...,...,...,...,...,...
1008372,1048570,580501,23284,DOORMAT KEEP CALM AND COME IN,2.0,2011-12-04 13:00:00,8.25,14546.0,United Kingdom,2011.0
1008373,1048571,580501,22507,MEMO BOARD RETROSPOT DESIGN,3.0,2011-12-04 13:00:00,4.95,14546.0,United Kingdom,2011.0
1008374,1048572,580502,22469,HEART OF WICKER SMALL,3.0,2011-12-04 13:15:00,1.65,16931.0,United Kingdom,2011.0
1008375,1048573,580502,23489,VINTAGE BELLS GARLAND,2.0,2011-12-04 13:15:00,2.89,16931.0,United Kingdom,2011.0
1008376,1048574,580502,23046,PAPER LANTERN 9 POINT DELUXE STAR,1.0,2011-12-04 13:15:00,6.65,16931.0,United Kingdom,2011.0

### Create New Feature: Revenue

In [ ]:
sales['Revenue'] = sales['Quantity'] * sales['Price']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Average of Revenue per Year

### Interpretation

## Section 2

### Filtering Data

#### Customers who finished their purchases

#### Customers who canceled their purchases

### Number of Finished and Canceled Transactions Each Year

### Cancellation Rate

### Interpretation